<h1>Convert <%= @currency %></h1>

Go <a href="/">back</a>.

<ul>
<% @symbols_array.each_key{|key| %>
  <li><a href="/forex/<%= @currency %>/<%= key %>">Convert <%= @currency%> to <%= key %>... </li>   
<% } %>
</ul>
