<h1>Convert <%= @from_currency %></h1>

Go <a href="/forex">back</a>.

<ul>
<% @symbols_array.each_key{|key| %>
  <li><a href="/forex/<%= @from_currency %>/<%= key %>">Convert <%= @from_currency%> to <%= key %>... </li>   
<% } %>
</ul>
